 /* .column{ */

    /* width:400px;
    height:200px;
    display: flex;
    background-color:pink;
    margin-right:20px;
    padding:10px; */

  /*  */
     



/* *{

   
  background-color:lightpink  ;

    
}

.para1{


  font-style:bold;
  font-size: large;


}

.clear {
            
  width:50%;
  
} 

.para{


padding:50px;



}



.Column{


display:flex;
width:70%;
float:right;



} */